.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #2563eb;
}
